<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">id</th>
        <th scope="col">Name</th>
        <th scope="col">Bücher</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let verlag of verlage">
        <td>{{ verlag.verlagnummer}}</td>
        <td>{{ verlag.name }}</td>
        <td>
          <ul>
            <li *ngFor="let buch of verlag.verlagbuecher">{{ buch.buchname }}</li>
          </ul>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
