.sidenav .mat-toolbar {
  background: inherit;
}
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.BookIcon{
  transform: scale(2);
  margin-left: 38%;
}

section{
  font-size: max(0.75vw, 14px);
  font-weight: bold;
}

a{
  font-size: max(0.75vw, 16px);
}

.seite-titel{
  font-size: max(1.25vw, 20px)
}

@media (max-width: 599px) {
  a{
    font-size: max(2.5vw, 14px)
  }

  section{
    font-size: max(2.5vw, 12px);
  }
  .seite-titel{
    font-size: max(3vw, 18px)
  }
}
