.delete-modal{
  display: flex;
  justify-content: center;
}

.nein{
  text-align: center;
  font-size: 18px;
}

.delete-button mat-icon{
  margin: 0;
  font-size: 30px;
  padding: 0;
  width: 100%;
  height: 100%;
  margin-top: 5px;
}
