.start-card {
  position: relative;
  width: 100%;
}

.image-container {
  position: relative;
  width: 100%;
}

img {
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 10%;
  font-weight: bolder;
  text-align: center;
}

.uberschrift {
  font-size: 3vw;
  padding: 10px;
}

.neuen{
  width: 98%;
  margin: 1%;
}

.neuen mat-card-title{
  font-size: 1.5vw;
  font-weight: bold;
}


.Overview{
  display: flex;
  justify-content: space-between;
  margin: 1%;
  flex-wrap: wrap;
}

mat-card-title{
  padding: 1%;
  text-align: center;
}

mat-card-content {
  flex: 1 0 auto;
  padding-top: 1%;
  padding-left: 0;
  padding-right: 0;
}

mat-card{
  width: 30%;
}

.tabelle{
  max-height: 248px;
  overflow: hidden;
}

.tabelle-text, .tabelle-titel {
  text-align: center;
}
.tabelle-titel{
  border-bottom: 1px solid;
}

.center-text {
  text-align: center;
}

mat-divider{
  margin-top: 5%;
  height: 5px;
}

.knopf{
  display: flex;
  margin: 5%;
  justify-content: center;
  align-items: flex-end;

}


@media (max-width: 599px) {
  .Overview{
    flex-direction: column;
    justify-content: center;
  }

  mat-card{
    width: 100%;
    margin-top: 5%;
  }

  .uberschrift {
    font-size: 5vw;
    padding: 10px;
  }

  .neuen mat-card-title{
    font-size: 3vw;
  }

}
