.Overview{
  display: flex;
  justify-content: center;
}

.card{
  margin: 1%;
  width: 550px;
}

.autor-form{
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  padding: 1%;
}

.name {
  width: 100%;

}


.autornummer{
  width: 100%;


}
