.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-mdc-row .mat-mdc-cell {

  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;

  border-color: currentColor;
}

.tabelle-titel{
  border-bottom: 1px solid;
}
