<mat-form-field>
  <mat-label>Suche</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Bible" #input>
</mat-form-field>


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="buchnummer">
    <th mat-header-cell *matHeaderCellDef class="tabelle-titel"> ID </th>
    <td mat-cell *matCellDef="let element" class="tabelle-text"> {{element.buchnummer}} </td>
  </ng-container>

  <ng-container matColumnDef="buchname">
    <th mat-header-cell *matHeaderCellDef class="tabelle-titel"> Titel </th>
    <td mat-cell *matCellDef="let element" class="tabelle-text"> {{element.buchname}} </td>
  </ng-container>

  <ng-container matColumnDef="isbn">
    <th mat-header-cell *matHeaderCellDef class="tabelle-titel"> ISBN </th>
    <td mat-cell *matCellDef="let element" class="tabelle-text"> {{element.isbn}} </td>
  </ng-container>

  <ng-container matColumnDef="autor">
    <th mat-header-cell *matHeaderCellDef class="tabelle-titel"> Autor </th>
    <td mat-cell *matCellDef="let element" class="tabelle-text"> {{element.autorvorname + " " + element.autornachname}} </td>
  </ng-container>

  <ng-container matColumnDef="verlagname">
    <th mat-header-cell *matHeaderCellDef class="tabelle-titel"> Verlag </th>
    <td mat-cell *matCellDef="let element" class="tabelle-text"> {{element.verlagname}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayColumn"></tr>
  <tr mat-row
      (click)="editRow(row)"
      *matRowDef="let row; columns: displayColumn;"></tr>

</table>

