.Overview{
  display: flex;
  justify-content: center;
}

.card{
  margin: 1%;
  width: 550px;

}
.form{
  float: top;
}

.titel {
  width: 100%;

}

.isbn {
  width: 100%;
}


.autornummer{
  width: 48%;
}

.verlagnummer{
  padding-left: 4%;
  width: 48%;
}

.textarea{
  width: 100%;
}

.submitt-button{
  float: left;
}
